.app.dark {
  --bg-color: #000cb3;
  --inverted-bg-color: #fff;

  --primary-color: #009443;
  --inverted-primary-color: #00236e;
  --secondary-color: #00e472;
  --inverted-secondary-color: #256ada;
}
