:root {
  --bg-color: #ffffff;
  --inverted-bg-color: #000cb3;

  --primary-color: #00236e;
  --inverted-primary-color: #009443;
  --secondary-color: #0046dd;
  --inverted-secondary-color: #00e472;
}
